@font-face {
  font-family: "Objective-Medium";
  src: url("./font/Objective-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Objective-Thin";
  src: url("./font/Objective-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("./font/NotoSansJP-Medium.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansJP-Thin";
  src: url("./font/NotoSansJP-Thin.otf") format("opentype");
}

html,
body {
  font-size: 100%;
}

/*\nで改行できるようにする　2023.04.17(月) 有田海斗*/
.comment {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* body {
  color: #f4ede4;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #8c5c8b, #584c82, #aecadd);
  background-size: 300% 300%;
  animation: bggradient 20s ease infinite;
}
@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

body {
  color: #f4ede4;
  /* background: linear-gradient(201deg, #aecadd, #584c82, #8c5c8b);
  background-size: 600% 600%;
  animation: GradientBackground 15s ease infinite; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url("./img/backgroundBlack.jpg"), url("./img/backgroundGreen.jpg"),
    url("./img/backgroundPink.jpg"), no-repeat;
  /* black(既定値)のみの読み込みの方が軽いが，初回，変更する際に，一瞬ちらつきが起きる． */
  background-size: cover;
  background-position: center;
}
/* @keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} */

li {
  list-style: none;
  font-size: 1.2rem;
  margin-top: -2px;
}

textarea {
  resize: none;
  background: none;
  outline: none;
  border: 0;
  color: #f4ede4;
  border-bottom: 1px solid #f4ede4;
  font-family: "Objective-Thin", "NotoSansJP-Thin";
  font-size: 22px;
  width: 80%;
  margin-top: 10px;
  text-align: center;
  word-wrap: break-word;
}

.btn {
  background-color: transparent;
  border: none;
  color: #f4ede4;
}

ion-icon {
  --ionicon-stroke-width: 38px;
  font-size: 25px;
}

/* header */
header {
  background-color: #202023;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  padding: 0px 20px 0px 20px;
  height: 45px;
  z-index: 10;
  font-family: "NotoSansJP-Medium";
}

header ul {
  display: flex;
  padding: 10px 0;
  align-items: center;
  margin-right: 15px;
}

header ul li {
  font-size: 0.9rem;
  margin-left: 30px;
}

#headerSpace {
  height: 45px;
}

.mainTitle {
  display: flex;
  margin-top: 5px;
  margin-left: 15px;
}

.mainTitle h1 {
  font-size: 25px;
  margin-bottom: 22px;
}

.mainTitle img {
  width: 50px; /*画像サイズ指定*/
  height: 50px;
  margin-top: 9px;
  overflow: hidden;
  position: relative;
}

.navIcon {
  display: flex;
  cursor: pointer;
  transition: all 0.3s;
}

.navIcon:hover {
  opacity: 0.5;
}

/* page1 */
#page1 section {
  float: left;
  width: calc(50% - 12px);
  margin-left: 8px;
  height: calc(100vh - 105px);
}

/* threadTitle */
#threadTitle {
  /* わかりやすように色付け */
  /* background-color: #ffffff0d; */
  font-family: "Objective-Thin", "NotoSansJP-Thin";
  height: 100%;
  text-align: center;
}

#threadDetail h2 {
  margin-bottom: 8px;
  margin-left: 20px;
  font-size: 48px;
}

#threadDetail {
  text-align: center;
  margin-right: 40px;
  margin-top: 35vh;
  z-index: 1000;
}

#threadDetail li {
  margin-bottom: 1px;
}

/* chatArea */
#chatArea {
  /* わかりやすように色付け */
  /* background-color: #ffffff12; */
  font-family: "Objective-Thin", "NotoSansJP-Thin";
}

#mainChatSpace,
#mainResultSpace {
  /* backdrop-filter: blur(12px); 背景が画像ならぼかすことができる*/
  /* background-color: #ffffff15; */
  height: calc(100% - 30px);
  margin: 25px;

  border: 1px solid #f4ede4;
  border-radius: 40px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#page2Icon {
  margin-left: calc(100% - 47px);
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

#page2Icon:hover {
  opacity: 0.5;
}

/* overflowをscrollへ戻し、overflow-xをhidden→visibleへ変更．　2023.04.18(火) 有田海斗 */
#chat {
  /* background-color: #202023; */
  margin-top: -2px;
  margin-left: -15px;
  height: calc(98% - 95px);
  overflow: scroll;
  overflow-x: visible;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #f4ede4;
  border-radius: 1px;
  border-radius: 20px;
}

.commentDetail {
  width: 95%;
  border-bottom: 1px solid #f4ede4;
  margin-bottom: 15px;
  cursor: default;
}

.comment {
  width: calc(100% - 5px);
  word-wrap: break-word;
  margin-top: 20px;
}

.messageArea {
  /* position: fixed; */
  white-space: nowrap;
  text-align: center;
  margin-left: 10px;
  margin-top: -15px;
}

#sndIcon {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

#sndIcon:hover {
  opacity: 0.5;
}

/* page2 */
#page2 section {
  float: left;
  width: calc(50% - 12px);
  margin-left: 8px;
  height: calc(100vh - 105px);
}

/* searchOptions */
#searchOptions {
  /* わかりやすように色付け */
  /* background-color: #ffffff0d; */
  font-family: "Objective-Thin", "NotoSansJP-Thin";
  height: 100%;
  text-align: center;
}

#createThread,
#searchByTitle,
#searchByTag {
  text-align: center;
  margin-right: 40px;
  margin-top: 35vh;
}

#createThread h2,
#searchByTitle h2,
#searchByTag h2 {
  margin-bottom: 30px;
  font-size: 48px;
}

.optionIcon,
.page2SubmitIcon,
#searchOptionIcon {
  cursor: pointer;
  transition: all 0.3s;
}

.optionIcon:hover,
.page2SubmitIcon:hover,
#searchOptionIcon:hover {
  opacity: 0.5;
}

/* searchResult */
#searchResult {
  /* わかりやすように色付け */
  /* background-color: #ffffff12; */
  font-family: "Objective-Thin", "NotoSansJP-Thin";
}

/* #mainResultSpace {
  background-color: #ffffff15;
  height: calc(100% - 50px);
  margin: 25px;
  border: 1px solid #f4ede4;
  border-radius: 40px;
} */

#page1Icon {
  margin-left: calc(100% - 47px);
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

#page1Icon:hover {
  opacity: 0.5;
}

#result {
  /* background-color: #202023; */
  margin-top: -2px;
  margin-left: -15px;
  height: calc(100% - 80px);
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #f4ede4;
  border-radius: 1px;
  border-radius: 20px;
}

#result > .commentDetail {
  cursor: pointer;
  transition: all 0.3s;
}

#result > .commentDetail:hover {
  opacity: 0.5;
}
/* footer */
footer {
  background-color: #202023;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  padding: 0px 20px 0px 20px;
  height: 45px;
  font-family: "Objective-Thin", "NotoSansJP-Thin";
}

footer p {
  margin-left: 48%;
  position: absolute;
  text-align: center;
}

#footerIcon {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

#developerIcon,
#themeIcon {
  margin-right: 10px;
  margin-top: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

#developerIcon:hover,
#themeIcon:hover {
  opacity: 0.5;
}

/* ツールチップ表示 */
[tooltip] {
  position: relative;
}
[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: 1em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
  z-index: 1000;
}
[tooltip]::before {
  content: "";
  border: 0px solid transparent;
  z-index: 1000;
}
[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 210em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid #f4ede4;
  color: #f4ede4;
  z-index: 1000;
  font-family: "Objective-Thin", "NotoSansJP-Thin";
  /* font-family: "NotoSansJP-Medium"; */
}
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}
[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 20px);
  margin-left: -7px;
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */
[tooltip]:not([flow])::after,
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 1000;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 6px);
  margin-left: 10px;
  z-index: 1000;
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
  z-index: 1000;
}

@keyframes tooltips-vert {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltips-horz {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

/* (スマホ対応)レスポンシブ */
@media screen and (max-width: 720px) {
  header {
    height: 78px;
    flex-direction: column;
    z-index: 1;
  }

  .mainTitle {
    margin-top: -8px;
  }

  nav {
    margin-top: -42px;
  }

  /* page1 page2*/
  #page1 section,
  #page2 section {
    float: none;
    width: 100%;
    height: 15%;
    margin-bottom: -10px;
  }

  #title h2 {
    margin-top: 18px;
  }

  #threadDetail {
    margin-top: 5vh;
    justify-content: center;
  }

  #threadDetail ul {
    padding: 0;
    text-align: center;
  }

  /* #threadTitle ul {
    display: flex;
  }

  #threadTitle ul li {
    margin-top: -18px;
  } */

  #threadTitle {
    width: 100vw;
    margin: 0;
  }

  #threadTitle ul {
    padding: 0;
    text-align: center;
  }

  #threadTitle ul li {
    margin: 0 auto;
    text-align: center;
  }

  #createThread,
  #searchByTitle,
  #searchByTag {
    margin-top: 5vh;
    margin-right: 5%;
  }

  #threadDetail li {
    display: inline-block;
    margin-top: 7px;
    font-size: 13px;
  }

  #threadDetail h2,
  #searchOptions div h2 {
    margin-bottom: 1px;
    margin-left: 20px;
    font-size: 30px;
  }

  #chat {
    margin-top: -2px;
    margin-left: -15px;
    height: calc(98% - 95px);
  }

  #result {
    margin-top: -2px;
    margin-left: -15px;
    height: calc(100% - 70px);
  }

  .comment {
    margin-top: 10px;
  }

  .comment,
  .chatDetail1,
  .chatDetail2 {
    font-size: 15px;
  }

  #mainChatSpace,
  #mainResultSpace {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    height: calc(71vh - 25px);
    margin-right: 7%;
    margin-left: 7%;
  }

  /* footer */
  footer p {
    margin-left: 35%;
  }
}
